@page "/counter"
@using Models
@using Refit



@test
@*<table class="table">
    <thead>
        <tr>
            <th scope="col">API</th>
            <th scope="col">Description</th>
            <th scope="col">Auth</th>
            <th scope="col">HTTPS</th>
            <th scope="col">Cors</th>
            <th scope="col">Link</th>
            <th scope="col">Category</th>
        </tr>

    </thead>
    <tbody>
        @if (ApiList is not null)
        {
           @foreach (var Api_call in ApiList)
                {
                    <tr>
                        
                        <td>@Api_call.count</td>
                        <td>@Api_call.entries</td>
                        @*<td>@Api_call.API</td>
                        <td>@Api_call.Description</td>
                        <td>@Api_call.Auth</td>
                        <td>@Api_call.HTTPS</td>
                        <td>@Api_call.Cors</td>
                        <td>@Api_call.Link</td>
                        <td>@Api_call.Category</td>
                    </tr>
                }

            }

        }
    </tbody>
</table>
*@
@code {


    public List<APIGet> ApiList;
    public string test;

    protected override async Task OnInitializedAsync()
    {
        var apilistno = RestService.For<IAPiData>("https://api.publicapis.org");
        ApiList = await apilistno.GetAPI();



        //try
        //{
        //    ApiList = await APiData.GetAPI();
        //}catch(Exception ex)
        //{
        //    test = ex.ToString();
        //}
    }

}
