@page "/"
@using CallR.Models
@using CallR.Data
@using Refit

<PageTitle>Index</PageTitle>

<table class="table table-striped table-sm">
<thead>
    <tr>
        <th scope="col">Category</th>
        <th scope="col">API</th>
        <th scope="col">Descriptiom</th>
        <th scope="col">Auth</th>
        <th scope="col-10">Link</th>
    </tr>
</thead>
<tbody>
@foreach(var inv in Listfrom)
{
    <tr>
        <th class="col-12">@inv.Category</th>
        <td>@inv.API</td>
        <td>@inv.Description</td>
        <td>@inv.Auth</td>
        <td class="col-1">@inv.Link</td>
    </tr>
}
</tbody>
</table>

@code{
    private APIList1 ApiList = new APIList1();
    private List<APIs> Listfrom = new List<APIs>();
    public string test;

    protected override async Task OnInitializedAsync()
    {

        var apilistno = RestService.For<IWebAPI>("https://api.publicapis.org");
        ApiList = await apilistno.GetAPI();
        Listfrom = ApiList.Entries;
        test = ApiList.Entries[1].Description;
        
    }
    //protected async Task OnInitializedAsync()
    //{
    //    ApiList = new APIList();
    //    Listfrom = new List<APIs>();
    //    var apilistno = RestService.For<IWebAPI>("https://api.publicapis.org");
    //    ApiList = await apilistno.GetAPI();
    //    Listfrom = ApiList.Entries;
    //}
}