@inject IJSRuntime JSRuntime

<h3>Treetest</h3>


<h1>Call JS <code>convertArray</code> Function</h1>

<p>
    <button @onclick="ConvertArray">Convert Array</button>
</p>

<p>
    @text
</p>

<div>
    <div>
        <p>Current DateTime:<b> @CurrentDate</b></p>
        <br />
        <input type="button" @onclick="@GetCurrentDateTime" value="Get Current DateTime" />
    </div>
</div>





TEST TEST TEST TETS TSTETES
<code>tree</code>
<ul id="myUL">
    <li>
        <span class="@_caret" @onclick="@caret">Beverages</span>
        <ul class="@_nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="@_caret" @onclick="@caret">Tea</span>
                <ul class="@_nested">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="@_caret" @onclick="@caret">Green Tea</span>
                        <ul class="@_nested">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

TEST TEST TEST ETSTE
@code {
    private MarkupString text;
    [Parameter]
    public string _caret { get; set; } = "caret";
    public string _nested { get; set; } = "active";

    private uint[] quoteArray =
    new uint[]
    {
            60, 101, 109, 62, 67, 97, 110, 39, 116, 32, 115, 116, 111, 112, 32,
            116, 104, 101, 32, 115, 105, 103, 110, 97, 108, 44, 32, 77, 97,
            108, 46, 60, 47, 101, 109, 62, 32, 45, 32, 77, 114, 46, 32, 85, 110,
            105, 118, 101, 114, 115, 101, 10, 10,
            };

    private async Task ConvertArray()
    {
        text = new(await JSRuntime.InvokeAsync<string>("convertArray", quoteArray));

    }

    [Parameter]
    public string CurrentDate { get; set; }

    private async void GetCurrentDateTime()
    {
        CurrentDate = await JSRuntime.InvokeAsync<string>("getDateTime");
        StateHasChanged();
    }
    public void caret()
    {
        if (_nested != "active")
        {
            _nested = "active";
        }
        else
        {
            _nested = "nested"; }
    }
}
