@inject IJSRuntime JSRuntime

<h3>Treetest</h3>


<code>tree</code>
<ul id="myUL">
    <li>
        <span class="@_caret" @onclick="@caret">Beverages</span>
        <ul class="@_nested">
            <li>Water</li>
            <li>Coffee</li>
            <li>
                <span class="@_caret" @onclick="@caret">Tea</span>
                <ul class="@uno1.nasteds">
                    <li>Black Tea</li>
                    <li>White Tea</li>
                    <li>
                        <span class="@_caret"  @onclick="@((args) => @caret())">Green Tea</span>
                        <ul class="@uno1.nasteds">
                            <li>Sencha</li>
                            <li>Gyokuro</li>
                            <li>Matcha</li>
                            <li>Pi Lo Chun</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

TEST TEST TEST ETSTE
@code {
    
    [Parameter]
    public string _caret { get; set; } = "caret";
    public string _nested { get; set; } = "active";

    uno uno1 = new uno();
    
    public void caret()
    {
        if (uno1.nasteds != "active")
        {
            uno1.nasteds= "active";
            //_nested = "active";
        }
        else
        {
            uno1.nasteds = "nested";
           // _nested = "nested";
         }
    }

    class uno
    {
        public string nasteds { get; set; } = "active";

    }
}
